# Discord webhook URL
HOOKURL=''

# Discord API stuff
PORT=
PUBLICKEY=''

# Archipelago log file
LOGFILE=''

# Your timezone, UTC+, used for Discord webhook timestamps
# If you're UTC-, put this in as -X
TIMEZONE=